Source: python-pancakeswap
Maintainer: Shane Hutter <shane@intentropycs.com>
Section: python
Priority: optional
Build-Depends: dh-python, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://intentropycs.com/

Package: python3-python-pancakeswap
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: A python wrapper for the pancakeswap-info-api

